body {
    height: 100%;
     }

#mainTable {
    width: 100%;
}

#playerStatus {
    border: 0;
    width: 100%;
}

#blackStatus {
    background-color: black;
    color: white;
    width: 50%;
    text-align: center;
}

#whiteStatus {
    background-color: white;
    color: black;
    width: 50%;
    text-align: center;
}

div.inactivePlayer {
    border-style: solid;
    border-color: transparent;
}

div.activePlayer {
    border-style: solid;
    border-color: red;
}

#gameStatus {
    border-width: 0;
    background-color: grey;
    align: center;
}

#sideHeader {
    background-color: #c0c0c0;
    text-align: right;
}

table.messages {
    position: relative;
    width: 100%;
    max-height: 100%;
}

td.messages {
    position: relative;
    vertical-align: bottom;
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
}

#messages {
    background-color: white;
}

span.chatUser {
    color: red;
    padding: 0 1em 0 0;
}

input#chatInput {
    width: 100%;
}

#chatButton {
    width: 100%;
}
