<html>
<head>

<link rel="stylesheet" type="text/css" href="{{ static_url("main.css") }}" />

</head>
<body>

<div id="gameListWrap">  
<ul>
  {% for i, game in games.items() %}
  <li> 
    <a href="{{ "/game/%d" % i }}">
{% if not game.players[1] %}
    {{ "%d: %s is waiting for an opponent." % (i, game.players[0].name) }}
{% else %}
    {{ "%d: %s vs %s (%d moves)" % (i, game.players[0].name, 
                game.players[1].name, len(game.moves)) }}
{% end %} 
    </a>
  </li>
  {% end %}
</ul>
</div>

<a href="?new=game">Start a new game</a>

</body>
</html>
