<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <TITLE>Player: {{current_user}}</TITLE>

  <link rel="stylesheet" type="text/css" href="{{ static_url("main.css") }}" />

  <script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("raphael-min.js")}}"></script>
  <script type="text/javascript" src="{{ static_url("gogame.js") }}"></script>

</head>
<body>
<input type='hidden' id="user" value={{current_user}}>
<table id="mainTable">
  <tr id="headerRow">
    <td id="gameStatus">
      <table id="playerStatus">
        <tr>
          <td id="blackStatus"><div id="blackStatusWrap"></div></td>
          <td id="whiteStatus"><div id="whiteStatusWrap"></div></td>
        </tr>
      </table>
    </td>
    <td id="sideHeader">
      <button id="passButton">Pass</button>
      <a href="/">All games</a> | <a href="/logout">Log out</a>
    </td>
  </tr>
  <tr>
    <td id="gobanTd">
      <div id="gobanWrap"></div>
    </td>

    <td id="messagesTd" class="messages">
      <table class="messages">
        <tr>
          <td colspan="2" class="messages">
            <div id="messages" class="messages"> </div>
          </td>
        <tr>
          <td>
            <input type="text" id="chatInput" />
          </td><td>
            <button id="chatButton">Send</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>
