<html>
<head>

<link rel="stylesheet" type="text/css" href="{{ static_url("main.css") }}" />

</head>
<body>

<a href="/game/new">Start a new game</a>

<div id="gameListWrap">

{% if user is not None %}
    <h3>Ongoing games where '{{ user }}' is playing:</h3>
{% else %}
    <h3>Ongoing games:</h3>
{% end %}
<ul>
  {% for i, game in enumerate(games) %}
  <li>
    {{ "%s: (%dx%d)" % (
    game["_id"], game["board_size"], game["board_size"]) }}
    <a href="{{ '/game/%s' % game['_id'] }}">
{% if not game["white"] %}
    {{ "%s is waiting for an opponent." % game["black"] }}
{% else %}
    {{ "%s vs %s (%d moves)" % (game["black"],
                game["white"], len(game["moves"])) }}
{% end %}
    </a>
  </li>
  {% end %}
</ul>
</div>

</body>
</html>
