<!DOCTYPE html>
<html ng-app="GoClient">
  <head>
    <title> Go Server </title>

    <link rel="stylesheet" href="/static/css/toast/toast.css">
    <link rel="stylesheet" href="/static/css/layout.css">

    <script src="/static/js/libs/angular.js"></script>
    <script src="/static/js/libs/angular-resource.js"></script>
    <script src="/static/js/libs/jquery-2.0-min.js"></script>
    <script src="/static/js/libs/d3.min.js"></script>
    <script src="/static/js/gogame.js"></script>
    <script src="/static/js/board.js"></script>

  </head>

  <body>
    <div ng-controller="gameCtrl">
      <input id="game-id" type="hidden" name="game-id" value="{{ gameid }}"/>
      <div>
        <div>
          <goban-visualization id="board">
                               <!-- moves="moves" move="current_move" -->
                               <!-- make_move="make_move"> -->

          </goban-visualization>
        </div>
        <div>
          <input id="move_slider" type="range" min ="0" max="(( moves.length ))"
                 ng-model="current_move"/>
          (( current_move )) / (( moves.length ))
        </div>
      </div>
    </div>
  </body>
</html>
