<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Go server</title>
    <link rel="stylesheet" href="{{ static_url("main.css") }}" type="text/css"/>
  </head>
  <body>
    <div id="nav">
      <b><div id="username">{{ current_user }}</b> -
        <a href="/?user={{ current_user }}"> My games </a> |
        <a href="/"> All games </a> |
        <a href="/logout">{{ _("Sign out") }}</a>
      </div>
    </div>
    <div id="body" style="width:100%">
      <table class="main">
        <tr>
          <td class="left" style="width:50%">
            <div id="goban"></div>
          </td>

          <td class="right">
            <div id="gameinfo">
            </div>
            <div id="chat">
              <div id="inbox">
              </div>
              <div id="input">
                <form action="" method="post" id="messageform">
                  <table style="width: 100%">
                    <tr>
                      <td>
                        <input name="body" id="message" style="width: 100%"/>
                      </td>
                      <input type="hidden" name="next" value="{{ request.path }}"/>
                      {% module xsrf_form_html() %}
                    </tr>
                  </table>
                </form>
              </div>
            </div>

          </td>
        </tr>
      </table>
    </div>

    <script type="text/template" id="gameinfo_template">
      <table width="100%" class="gameinfo">
        <tr>
          <td>
            <div id="blackStatus" class="activePlayer">
              <div class="playerName"><%= black %></div>
              <div>Captures: <%= black_captures %></div>
            </div>
          </td>
          <td>
            <div id="whiteStatus">
              <div class="playerName"><%= white %></div>
              <div>Captures: <%= white_captures %></div>
            </div>
          </td>
        </tr>
        <tr id="gameCommands">
          <td>
            <button id="passButton" type="button">Pass</button>
            </FORM>
          </td>
        </tr>
      </table>
    </script>

    <script type="text/template" id="chatmessage_template">
      <div class="chatMessage">
        <span class="messageUser"><%= user %></span>
        <span class="messageBody"><%= body %></span>
        <span class="messageTime"><%= time %></span>
      </div>
    </script>

    <script src="{{ static_url("jquery-min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("underscore-min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("backbone-min.js") }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ static_url("raphael-min.js")}}"></script>
    <script src="{{ static_url("game.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("goban.js") }}" type="text/javascript"></script>
    <script type="text/javascript">
      // Preloading the go game object
      Go.game = new Go.Game({% raw game_data %});
      Go.game.user = "{{ current_user }}";
    </script>
  </body>
</html>
